<div class="footer">
    <div class="container">
        <div class="row footer-row-2">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="">
                    <a href="mailto:team@oncokb.org" target="_top">Contact us</a>
                    <a href="https://twitter.com/OncoKB" target="_blank">Twitter</a>
                    <a href="swagger-ui/index.html">API</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 mskcc-footer-logo0-wrapper">
                <a class="logo" href="http://mskcc.org" title="Memorial Sloan Kettering Cancer Center">
                    <span><img src="../../../content/images/MSKLogo_fff.png" class="mskcc-footer-logo"></span>
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 mskcc">
                <span>© 2018 Memorial Sloan Kettering Cancer Center</span>
            </div>
        </div>
    </div>
</div>
