label {
    min-width:180px;
}
.levelIndicator {
    border-left: 6px solid red;
    background-color: lightgrey;
}
.editButtonStyle {
    font-size: 12px;
    font-weight: bold;
    padding: 4px
}
.addIcon {
    color: green;
    margin-right:8px
}
.deleteIcon {
    color: red;
    margin-right:8px
}
.editIcon {
    margin-right:8px
}
.exchangeIcon {
    color: green;
    margin-right:8px
}
.moveIcon {
    font-size:14px;
    color: orange;
    margin-right:8px
}
.destinationIcon {
    color: green;
    margin-right:8px
}
.addButon {
    padding:5px;
    margin:5px
}
.cancelButton {
    padding:5px;
}
