label {
    min-width:180px;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
.levelIndicator {
    border-left: 6px solid red;
    background-color: lightgrey;
}
.editButtonStyle {
    font-size: 12px;
    font-weight: bold;
    padding: 4px
}

.addButon {
    padding:5px;
    margin:5px
}
.cancelButton {
    padding:5px;
}
.arm-row {
    margin-bottom: 10px;
}
.select-width {
    width: 300px;
}
.suspended-label {
    min-width: 40px;
}
