<i class="fa fa-plus addIcon" aria-hidden="true" *ngIf="displayAdd()" (click)="preAddNode()"></i>
<i class="fa fa-trash-o deleteIcon" aria-hidden="true" *ngIf="displayTrash()" (click)="modifyNode('delete')"></i>
<i class="fa fa-pencil editIcon" aria-hidden="true" *ngIf="displayPencil()" (click)="editNode()"></i>
<i class="fa fa-exchange exchangeIcon" *ngIf="displayExchange()" (click)="modifyNode('exchange')"></i>
<i class="fa fa-arrows moveIcon" aria-hidden="true" *ngIf="displayMove()" (click)="moveNode()" title="Click to choose this section as to be moved"></i>
<i class="fa fa-arrows destinationIcon" aria-hidden="true" *ngIf="displayMoveDestination()" (click)="dropDownNode()"  title="Click to choose as destination for move"></i>
<i class="fa fa-clone copyIcon" aria-hidden="true" *ngIf="displayCopy()" (click)="copyNode()" title="Click to choose this section as to be copied"></i>
<i class="fa fa-clone destinationIcon" aria-hidden="true" *ngIf="displayCopyDestination()" (click)="addCopiedNode()"  title="Click to choose as destination for copy"></i>

<span *ngIf="operationPool['relocate'] !== true && operationPool['copy'] !== true && operationPool['currentPath'] === path">
    <button class="btn btn-success editButtonStyle" (click)="saveModification()" [disabled]="hasErrorInputField">Save</button>
    <button class="btn btn-warning editButtonStyle" (click)="cancelModification()">Cancel</button>
</span>

<div *ngIf="addNode" style="border-style: solid;border-width:1px;margin:10px;padding:10px">
    <div *ngIf="arm === false; else armSection">
        <br/>
        <label>Specify criterion type
            <button *ngIf="nodeType" class="btn btn-success addButon" [disabled]="hasErrorInputField" (click)="modifyNode('add')">Add</button>
            <button class="btn btn-warning cancelButton" (click)="clearInput()">Cancel</button>
        </label>
        <ng-select [(ngModel)]="nodeType" [items]="nodeOptions" (change)="clearNodeInput()"></ng-select>
        <br/>
        <div *ngIf="nodeType === 'Genomic'; else section1">
            <jhi-genomic [type]="'add'"></jhi-genomic>
        </div>
        <ng-template #section1>
            <div *ngIf="nodeType === 'Clinical'; else section2">
                <jhi-clinical [type]="'add'"></jhi-clinical>
            </div>
        </ng-template>
        <ng-template #section2>
            <div *ngIf="nodeType === 'And' || nodeType === 'Or'">
                <label>Specify nodes in the {{nodeType}} logic</label>
                <ng-select [items]="dropdownList" [multiple]="true" [closeOnSelect]="false" [(ngModel)]="selectedItems"></ng-select>
                <br/>
                <div *ngFor="let x of selectedItems">
                    <div *ngIf="x == 'Genomic'">
                        <h6>Genomic:</h6>
                        <jhi-genomic [type]="'add'"></jhi-genomic>
                    </div>
                    <div *ngIf="x == 'Clinical'">
                        <h6>Clinical:</h6>
                        <jhi-clinical [type]="'add'"></jhi-clinical>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
    <ng-template #armSection>
        <div class="row arm-row">
            <div class="col-md-2">
                <label>arm code: </label>
            </div>
            <div class="col-md-10">
                <input [(ngModel)]="armInput.arm_code" size="100"/>
            </div>
        </div>
        <div class="row arm-row">
            <div class="col-md-2">
                <label for="description">arm description: </label>
            </div>
            <div class="col-md-10">
                <textarea id="description" rows="3" cols="100" [(ngModel)]="armInput.arm_description"></textarea>
            </div>
        </div>
        <div class="row arm-row">
            <div class="col-md-2">
                <span class="indent1">arm internal id: </span>
            </div>
            <div class="col-md-10">
                <input [(ngModel)]="armInput.arm_internal_id" size="100"/>
            </div>
        </div>
        <div class="row arm-row">
            <div class="col-md-2">
                <span class="indent1">arm suspended: </span>
            </div>
            <div class="col-md-10">
                <span id="suspended">
                    <label for="suspended-y" class="suspended-label">
                        <input id="suspended-y" type="radio" value="Y" name="suspended" [(ngModel)]="armInput.arm_suspended" (click)="unCheckRadio($event)">Y
                    </label>
                    <label for="suspended-n" class=" suspended-label">
                        <input id="suspended-n" type="radio" value="N" name="suspended" [(ngModel)]="armInput.arm_suspended" (click)="unCheckRadio($event)">N
                    </label>
                </span>
            </div>
        </div>
        <div *ngIf="oncokb">
            <div class="row arm-row">
                <div class="col-md-2">
                    <label for="info">arm info: </label>
                </div>
                <div class="col-md-10">
                    <textarea id="info" rows="3" cols="100" [(ngModel)]="armInput.arm_info"></textarea>
                </div>
            </div>
            <div class="row arm-row">
                <div class="col-md-2">
                    <label for="eligibility">arm eligibility: </label>
                </div>
                <div class="col-md-10">
                    <textarea id="eligibility" rows="3" cols="100" [(ngModel)]="armInput.arm_eligibility"></textarea>
                </div>
            </div>
        </div>
        <button class="btn btn-success addButon" (click)="modifyNode('add')">Add</button>
        <button class="btn btn-warning cancelButton" (click)="clearInput()">Cancel</button>
    </ng-template>
</div>