input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
.indent1 {
    margin-left: 40px;
}
.indent2 {
    margin-left: 80px;
    margin-top: 10px;
}
.armContent {
    margin-left: 80px;
    word-wrap:break-word;
}
.label-margin {
    margin-right:10px;
}
.drug-container{
    display: inline-flex;
}
.deleteIcon {
    margin: 10px;
}
