<span class="indent1">-arm name: <jhi-panel [type]="'delete,edit'" [path]="path" [arm]="true" [unit]="unit"></jhi-panel></span>
<div *ngIf="operationPool['currentPath'] === path; else dispalyArm">
    <div class="indent2">
        <input [(ngModel)]="armInput.arm_name" size="100"/>
    </div>
    <span class="indent1">-arm status: </span><br/>
    <div class="indent2">
        <div style="min-width: 300px; display: inline-block">
            <ng-select class="selectStyle" [items]="statusOptions" [(ngModel)]="armInput.arm_status" [clearable]="true"></ng-select>
        </div>
    </div>
    <span class="indent1">-arm description: </span><br/>
    <div class="armContent">
        <textarea id="description" rows="3" cols="100" [(ngModel)]="armInput.arm_description"></textarea>
    </div>
    <span class="indent1">-arm eligibility: </span><br/>
    <div class="armContent">
        <textarea id="arm-eligibility" rows="3" cols="100" [(ngModel)]="armInput.arm_eligibility"></textarea>
    </div>
</div>
<ng-template #dispalyArm>
    <br/>
    <span class="armContent">{{unit.arm_name}}</span><br/>
    <span class="indent1">-arm status: </span><br/>
    <div class="armContent">{{unit.arm_status}}</div>
    <span class="indent1">-arm description: </span><br/>
    <div class="armContent">{{unit.arm_description}}</div>
    <span class="indent1">-arm eligibility: </span><br/>
    <div class="armContent">{{unit.arm_eligibility}}</div>
</ng-template>

