<span>-clinical:</span>
<jhi-node [type]="'delete,edit'" [unit]="unit" [path]="path"></jhi-node>
<br/>
<div [ngStyle]="getStyle()" *ngIf="pathPool.indexOf(path) !== -1; else panel">
    <label class="ageStyle">age_numerical:</label>
    <input [(ngModel)]="modificationInput.age_numerical" size="35"/>
    <br/>
    <div class="row">
        <div class="col-sm-3">oncotree_diagnosis:</div>
        <div class="col-sm-9">
            <select class="form-control selectStyle" [(ngModel)]="modificationInput.oncotree_diagnosis" >
                <option *ngFor="let item of mainTypes" [value]="item">{{item}}</option>
            </select>
        </div>
    </div>
    <!-- <input [(ngModel)]="modificationInput.oncotree_diagnosis" /> -->
</div>
<ng-template #panel>
    <div [ngStyle]="getStyle()">
        <label>age_numerical:</label>
        <span>{{unit.clinical.age_numerical}}</span>
        <br/>
        <label>oncotree_diagnosis:</label>
        <span>{{unit.clinical.oncotree_diagnosis}}</span>
    </div>
</ng-template>