label {
    min-width:180px;
}
.selectStyle {
    max-width:300px;
}
.ageStyle {
    width: 230px;
}
.notLabel {
    float: left;
    margin-top: -25px;
    margin-left: 30px;
}
.subTypeStyle {
    margin: 10px 0px 10px 0px;
    display: inline-flex;
    .selectStyle{
        width:300px;
    }
}
.ageNumericalMargin{
    margin-bottom:10px
}
.collapse-margin{
    margin: 10px 0px 10px 30px;
}
