label {
    min-width:180px;
}
.selectStyle {
    max-width:300px;
}
.ageStyle {
    width: 230px;
}
.notStyle {
    margin-right: -30px;
}
.notLabel {
    float: left;
    margin-top: -25px;
    margin-left: 30px;
}