<i class="fa fa-plus" aria-hidden="true" style="color: green;margin-right:8px" *ngIf="type.indexOf('add') !== -1" (click)="addNode = true"></i>
<i class="fa fa-trash-o" aria-hidden="true" style="color: red;margin-right:8px" *ngIf="type.indexOf('delete') !== -1" (click)="modifyNode('delete')"></i>
<i class="fa fa-pencil" aria-hidden="true" *ngIf="type.indexOf('edit') !== -1 && pathPool.indexOf(path) === -1" (click)="editNode()"></i>
<span *ngIf="pathPool.indexOf(path) !== -1">
    <button class="btn btn-success" style="font-size:12px;font-weight:bold;padding:4px" (click)="saveModification()">Save</button>
    <button class="btn btn-warning" style="font-size:12px;font-weight:bold;padding:4px" (click)="cancelModification()">Cancel</button>
</span>

<div *ngIf="addNode" style="border-style: solid;border-width:1px;margin:10px;padding:10px">
    <br/>
    <label>Specify criterion type
        <button *ngIf="nodeType" class="btn btn-success" style="padding:5px;margin:5px" (click)="modifyNode('add')">Add</button>
        <button class="btn btn-warning" style="padding:5px;" (click)="clearInput()">Cancel</button>
    </label>
    <select class="form-control" [(ngModel)]="nodeType">
        <option></option>
        <option *ngFor="let node of nodeOptions" [value]="node">{{ node }}</option>
    </select>
    <br/>
    <div *ngIf="nodeType === 'Genomic'; else section1">
        <jhi-genomic [type]="'add'"></jhi-genomic>
    </div>
    <ng-template #section1>
        <div *ngIf="nodeType === 'Clinical'; else section2">
            <jhi-clinical [type]="'add'"></jhi-clinical>
            <!-- <label for="age_numerical">age_numerical:</label>
            <input id="age_numerical" [(ngModel)]="input.age_numerical" />
            <br/>
            <label for="oncotree_diagnosis">oncotree_diagnosis:</label>
            <input id="oncotree_diagnosis" [(ngModel)]="input.oncotree_diagnosis" /> -->
        </div>
    </ng-template>
    <ng-template #section2>
        <div *ngIf="nodeType === 'And' || nodeType === 'Or'">
            <label>Specify nodes in the {{nodeType}} logic</label>
            <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"></angular2-multiselect>
            <br/>
            <div *ngFor="let x of selectedItems">
                <div *ngIf="x.itemName == 'Genomic'">
                    <h6>Genomic:</h6>
                    <jhi-genomic [type]="'add'"></jhi-genomic>
                </div>
                <div *ngIf="x.itemName == 'Clinical'">
                    <h6>Clinical:</h6>
                    <jhi-clinical [type]="'add'"></jhi-clinical>
                    <!-- <label for="logic_age_numerical">age_numerical:</label>
                    <input id="logic_age_numerical" [(ngModel)]="input.age_numerical" />
                    <br/>
                    <label for="logic_oncotree_diagnosis">oncotree_diagnosis:</label>
                    <input id="logic_oncotree_diagnosis" [(ngModel)]="input.oncotree_diagnosis"
                    /> -->
                </div>
            </div>
        </div>
    </ng-template>
</div>