.drug-container{
    width: 600px;
    margin-bottom: 10px;
}
.drug-select {
    max-width: 813px;
}
.drug-name {
    color: black;
    font-size: 15px;
}
.drug-synonyms {
    display: inline;
    color: grey;
    font-size: 13px;
    font-style: italic;
}
