<span class="drug-wrapper">
    <div class="drug-container">
        <ng-select [items]="drugsOptions" [(ngModel)]="armInput.drugs[drugGroupIndex]" [typeahead]="drugInput"
                   [searchable]="true" [hideSelected]="true" [multiple]="true" [clearable]="true" [addTag]="true"
                   [loading]="drugsOptionsLoading" bindLabel="name" placeholder="Search Drug">
            <ng-template ng-option-tmp let-item="item">
                <div>
                    <span class="drug-name">{{item.name}}</span>
                    <span class="drug-synonyms">{{'NCIT Code: ' + item.ncit_code}}</span>
                </div>
                <div *ngIf="item.synonyms" class="drug-synonyms">{{'Also known as ' + item.synonyms}}</div>
            </ng-template>
        </ng-select>
    </div>
    <i class="fa fa-trash-o deleteIcon" aria-hidden="true" (click)="removeDrugGroup()"></i>
</span>

