label {
    font-weight:bold
}
.indent1 {
    margin-left: 40px;
}
.indent2 {
    margin-left: 80px;
}
.levelIndicator {
    border-left:1px dotted black;
}
.armDescription {
    margin-left: 80px;
    word-wrap:break-word;
}
.matchTitle1 {
    margin-bottom: -23px;
}
.matchTitle2 {
    margin-left: 40px;
    margin-bottom: -23px;
}
.noteAdd {
    color: green;
    margin-left: 10px;
}
.noteDelete {
    color: red;
    margin-left: 10px;
}
.importStatus{
    color: #3E8ACC;
    margin-left: 10px;
}
.noteEdit {
    margin-left:10px
}
.noteExchange {
    color:green
}
.noteMove {
    color:orange;
}
.noteCopy {
    color: #3E8ACC;
}
.noteDestination {
    color:green
}
.status-select {
    min-width: 400px;
    display: inline-block;
}
.red {
    color: red;
}
.curation-container-height {
    min-height:550px;
}
.float-right {
    float: right;
}
.trial-bottom {
    margin-bottom: 100px;
}
.note-margin {
    margin-top:80px;
}
.load-span{
    margin-left: 20px;
}
.editButtonStyle {
    font-size: 12px;
    font-weight: bold;
    padding: 4px
}
.note-p-margin {
    margin-bottom: 0px;
}
