<div class="container" style="min-height:550px">
    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="trialsToImport" placeholder="Enter trial in the format: NCT02057133, NCT03006172"
            size="100">
        <span class="input-group-btn">
            <button class="btn btn-primary" [disabled]="!trialsToImport" (click)="importTrials()">Import New Trials</button>
        </span>
    </div>
    <div *ngIf="messages.length > 0">
        <br/>
        <div *ngFor="let message of messages">
            <span style="color: green;" *ngIf="message.indexOf('Successfully') !== -1; else failedMessage"> {{message}} </span>
            <ng-template #failedMessage>
                    <span style="color: red;"> {{message}} </span>
            </ng-template>
        </div>
    </div>
    <br/>
    <br/>
    <div style="float:right">
        <label for="hideArchived">Hide archived trials:</label>
        <span id="hideArchived">
            <label for="hideArchivedOption" style="margin-left:10px">Yes</label>
            <input id="hideArchivedOption" type="radio" value="Yes" name="hideArchived" [(ngModel)]="hideArchived" (change)="updateStatus('hideArchived')">
            <label for="displayArchivedOption" style="margin-left:10px">No</label>
            <input id="displayArchivedOption" type="radio" value="No" name="hideArchived" [(ngModel)]="hideArchived" (change)="updateStatus('hideArchived')">
        </span>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>NCT ID</th>
            <th>Status</th>
            <th>Title</th>
            <th>Curation Status</th>
            <th>Archived</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trial of trialList">
            <td><a (click)="curateTrial(trial.nct_id)">{{ trial.nct_id }}</a></td>
            <td>{{ trial.status }}</td>
            <td>{{ trial.short_title }}</td>
            <td><span [ngStyle]="getStatus(trial.curation_status)">{{ trial.curation_status }}</span></td>
            <td>{{ trial.archived }}</td>
          </tr>
        </tbody>
      </table>
      <br/>
    <div id="trialDetail"><br/></div>
    <div *ngIf="nctIdChosen" style="margin-bottom: 100px">
        <hr>
        <div>
            <label for="curation_status">Curation Status:</label>
            <span id="curation_status">
                <label for="progress" style="color:red;margin-left:10px">In progress </label>
                <input id="progress" type="radio" value="In progress" name="curation" [(ngModel)]="trialChosen.curation_status" (change)="updateStatus('curation')">
                <label for="complete" style="color:green;margin-left:10px">Completed </label>
                <input id="complete" type="radio" value="Completed" name="curation" [(ngModel)]="trialChosen.curation_status" (change)="updateStatus('curation')">
            </span>
            <br/>
            <label for="archive_status">Archive:</label>
            <span id="archive_status">
                <label for="archive" style="color:red;margin-left:10px">Yes </label>
                <input id="archive" type="radio" value="Yes" name="archive" [(ngModel)]="trialChosen.archived" (change)="updateStatus('archive')">
                <label for="retrieve" style="color:green;margin-left:10px">No </label>
                <input id="retrieve" type="radio" value="No" name="archive" [(ngModel)]="trialChosen.archived" (change)="updateStatus('archive')">
            </span>            
            <br/><br/>
            <label for="nctId">NCT ID: </label>
            <span id="nctId" style="margin-left:10px">
                <a target="_blank" href="https://clinicaltrials.gov/ct2/show/{{trialChosen.nct_id}}">{{ trialChosen.nct_id }}</a>
            </span>
            <br/>
            <label for="phase">Phase: </label>
            <span id="phase" style="margin-left:10px">{{ trialChosen.phase }}</span>
            <br/>
            <label for="status">Status: </label>
            <span id="status" style="margin-left:10px">
                <div style="min-width: 300px; display: inline-block">
                    <ng-select class="selectStyle" #selectModel="ngModel" [items]="statusOptions" [(ngModel)]="trialChosen.status"
                               [clearable]="false" (change)="updateTrialStatusInDB()"></ng-select>
                </div>
            </span>
            <br/>
            <label for="shortTitle">Short Title: </label>
            <span id="shortTitle" style="margin-left:10px">{{ trialChosen.short_title }}</span>
            <br/>
            <label for="longTitle">Long Title: </label>
            <span id="longTitle" style="margin-left:10px">{{ trialChosen.long_title }}</span>
            <br/>
            <label for="treatmentList">Treatment List:</label>
            <div id="treatmentList">
                <span>-arm: <jhi-panel [type]="'add,copyDestination'" [arm]="true" [path]="'arms'"></jhi-panel></span>
                <br/>
                <div *ngFor="let arm of trialChosen.treatment_list.step[0].arm; let i = index">
                    <jhi-arm [type]="'delete,edit'" [unit]="arm" [path]="'arm_name,'+i"></jhi-arm>
                    <span class="matchTitle2">-match </span>
                    <jhi-panel [type]="'add,destination'" [path]="'arm,'+i"></jhi-panel>
                    <div class="indent2 levelIndicator">
                        <jhi-match [match]="arm.match" [path]="'arm,'+i"></jhi-match>
                    </div>
                    <br/>
                </div>
                <span class="matchTitle1">-match </span>
                <jhi-panel [type]="'add,destination'" [path]="'match'"></jhi-panel>
                <div class="indent1 levelIndicator">
                    <jhi-match [match]="trialChosen.treatment_list.step[0].match" [path]="'match'"></jhi-match>
                </div>
                <div style="margin-top:150px;">
                    <p>
                        Note*
                        <i class="fa fa-plus noteAdd" aria-hidden="true"></i>: Add
                        <i class="fa fa-trash-o noteDelete" aria-hidden="true"></i>: Delete
                        <i class="fa fa-pencil noteEdit" aria-hidden="true"></i>: Edit
                    </p>
                    <p>Click (<i class="fa fa-exchange noteExchange"></i>) to switch logic between "and" and "or"</p>
                    <p>Click (<i class="fa fa-arrows noteMove" aria-hidden="true"></i>) to move this section; click again to cancel.
                        Click (<i class="fa fa-arrows noteDestination" aria-hidden="true"></i>) to use as your destination.</p>
                    <p>Click (<i class="fa fa-clone noteCopy" aria-hidden="true"></i>) to copy this section; click again to cancel.
                        Click (<i class="fa fa-clone noteDestination" aria-hidden="true"></i>) to use as your destination.</p>

                    <p>Use comma(,) to separate a list of annotated_variants(i.e. "V600E, V600K") and age_numerical range(i.e. ">=12, &lt;=18").</p>
                </div>
            </div>
        </div>
    </div>
</div>