<div class="container curation-container-height">
    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="trialsToImport" placeholder="Enter trial in the format: NCT02057133 or 14-085"
            size="100">
        <span class="input-group-btn">
            <button class="btn btn-primary" [disabled]="!trialsToImport" (click)="importTrials()">Import New Trials</button>
        </span>
    </div>
    <div *ngIf="messages.length > 0">
        <br/>
        <div *ngFor="let message of messages">
            <span class="noteExchange" *ngIf="message.indexOf('Successfully') !== -1; else failedMessage"> {{message}} </span>
            <ng-template #failedMessage>
                    <span class="red"> {{message}} </span>
            </ng-template>
        </div>
    </div>
    <br/>
    <br/>
    <div class="float-right">
        <label for="hideArchived">Hide archived trials:</label>
        <span id="hideArchived">
            <label for="hideArchivedOption" class="noteEdit">Yes</label>
            <input id="hideArchivedOption" type="radio" value="Yes" name="hideArchived" [(ngModel)]="hideArchived" (change)="updateStatus('hideArchived')">
            <label for="displayArchivedOption" class="noteEdit">No</label>
            <input id="displayArchivedOption" type="radio" value="No" name="hideArchived" [(ngModel)]="hideArchived" (change)="updateStatus('hideArchived')">
        </span>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th>NCT ID</th>
            <th>Protocol No</th>
            <th>Status</th>
            <th>Title</th>
            <th>Curation Status</th>
            <th [hidden]="true">Archived</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trial of trialList">
            <td>
                <a (click)="curateTrial(trial.nct_id)">{{ trial.nct_id }}</a>
                <a target="_blank" href="https://clinicaltrials.gov/ct2/show/{{trial.nct_id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            </td>
              <td>
                <span *ngIf="trial.protocol_no.length > 0">
                    <span class="button-margin">{{ trial.protocol_no }}</span>
                    <a target="_blank" href="https://www.mskcc.org/cancer-care/clinical-trials/{{trial.protocol_no}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                </span>
              </td>
            <td>{{ trial.status }}</td>
            <td>{{ trial.short_title }}</td>
            <td><span [ngStyle]="getStatus(trial.curation_status)">{{ trial.curation_status }}</span></td>
            <td [hidden]="true">{{ trial.archived }}</td>
          </tr>
        </tbody>
      </table>
      <br/>
    <div id="trialDetail"><br/></div>
    <div *ngIf="nctIdChosen" class="trial-bottom">
        <hr>
        <div>
            <label for="curation_status">Curation Status:</label>
            <span *ngIf="!isPermitted" class="noteEdit">{{ trialChosen.curation_status }}</span>
            <span *ngIf="isPermitted" id="curation_status">
                <label for="progress" class="noteDelete">In progress </label>
                <input id="progress" type="radio" value="In progress" name="curation" [(ngModel)]="trialChosen.curation_status" (change)="updateStatus('curation')">
                <label for="complete" class="noteAdd">Completed </label>
                <input id="complete" type="radio" value="Completed" name="curation" [(ngModel)]="trialChosen.curation_status" (change)="updateStatus('curation')">
                <label for="import" class="importStatus">Ready to import </label>
                <input id="import" type="radio" value="Ready to import" name="curation" [(ngModel)]="trialChosen.curation_status" (change)="updateStatus('curation')">
            </span>
            <br/>
            <label for="archive_status">Archive:</label>
                <span *ngIf="!isPermitted" class="noteEdit">{{ trialChosen.archived }}</span>
                <span *ngIf="isPermitted" id="archive_status">
                    <label for="archive" class="noteDelete">Yes </label>
                    <input id="archive" type="radio" value="Yes" name="archive" [(ngModel)]="trialChosen.archived" (change)="updateStatus('archive')">
                    <label for="retrieve" class="noteAdd">No </label>
                    <input id="retrieve" type="radio" value="No" name="archive" [(ngModel)]="trialChosen.archived" (change)="updateStatus('archive')">
                </span>
            <br/><br/>
            <label for="nctId">NCT ID: </label>
            <span id="nctId" class="noteEdit">
                <a target="_blank" href="https://clinicaltrials.gov/ct2/show/{{trialChosen.nct_id}}">{{ trialChosen.nct_id }}</a>
            </span>
            <br/>
            <label for="protocolNo">Protocol No: </label>
            <span id="protocolNo" class="noteEdit">
                <input [(ngModel)]="trialChosen.protocol_no" (blur)="updateProtocolNo()" (keypress)="clearMessage('protocol_no')"/>
                <span *ngIf="protocolNoMessage.content" class="load-span" [style.color]="protocolNoMessage.color"> {{protocolNoMessage.content}} </span>
            </span>
            <!--<button class="btn btn-primary" *ngIf="isPermitted && !frontEndOnly && trialChosen.archived === 'No' && trialChosen.curation_status === 'Ready to import'" (click)="loadMongo()" class="noteEdit">Finish Curation</button>-->
            <!--<span class="load-span" *ngIf="isPermitted && !frontEndOnly && trialChosen.archived === 'No' && trialChosen.curation_status === 'Ready to import'" [style.color]="mongoMessage.color"> {{mongoMessage.content}} </span>-->
            <br/>
            <label for="phase">Phase: </label>
            <span id="phase" class="noteEdit">{{ trialChosen.phase }}</span>
            <br/>
            <label for="status">Status: </label>
            <span *ngIf="!isPermitted" class="noteEdit">{{ trialChosen.status }}</span>
            <span  *ngIf="isPermitted" id="status" class="noteEdit">
                <div class="status-select">
                    <ng-select class="selectStyle" #selectModel="ngModel" [items]="statusOptions" [(ngModel)]="trialChosen.status"
                               [clearable]="false" (change)="updateTrialStatusInDB()"></ng-select>
                </div>
            </span>
            <br/>
            <label for="shortTitle">Short Title: </label>
            <span id="shortTitle" class="noteEdit">{{ trialChosen.short_title }}</span>
            <br/>
            <label for="longTitle">Long Title: </label>
            <span id="longTitle" class="noteEdit">{{ trialChosen.long_title }}</span>
            <br/>
            <label for="treatmentList">Treatment List:</label>
            <div id="treatmentList">
                <span>-arm: <jhi-panel [type]="'add,copyArm'" [arm]="true" [path]="'arms'"></jhi-panel></span>
                <br/>
                <div *ngFor="let arm of trialChosen.treatment_list.step[0].arm; let i = index">
                    <jhi-arm [type]="'delete,edit'" [unit]="arm" [path]="'arm_description,'+i"></jhi-arm>
                    <span class="matchTitle2">-match </span>
                    <jhi-panel [type]="'add,destination,copyMatch'" [path]="'arm,'+i"></jhi-panel>
                    <div class="indent2 levelIndicator">
                        <jhi-match [match]="arm.match" [path]="'arm,'+i"></jhi-match>
                    </div>
                    <br/>
                </div>
                <span class="matchTitle1">-match </span>
                <jhi-panel [type]="'add,destination,copyMatch'" [path]="'match'"></jhi-panel>
                <div class="indent1 levelIndicator">
                    <jhi-match [match]="trialChosen.treatment_list.step[0].match" [path]="'match'"></jhi-match>
                </div>
                <div class="note-margin">
                    <p class="note-p-margin">
                        <label>Additional Information (Optional):</label>
                        <i *ngIf="isPermitted && !noteEditable" class="fa fa-pencil noteEdit" aria-hidden="true" (click)="editNote()"></i>
                        <span *ngIf="noteEditable">
                            <button class="btn btn-success editButtonStyle" (click)="updateNote()">Save</button>
                            <button class="btn btn-warning editButtonStyle" (click)="cancelUpdateNote()">Cancel</button>
                        </span>
                    </p>
                    <p *ngIf="!noteEditable">{{additionalChosen.note}}</p>
                    <textarea *ngIf="noteEditable" rows="5" cols="100" [(ngModel)]="additionalInput.note"></textarea>
                </div>
                <div *ngIf="isPermitted" class="note-margin">
                    <p>
                        Note*
                        <i class="fa fa-plus noteAdd" aria-hidden="true"></i>: Add
                        <i class="fa fa-trash-o noteDelete" aria-hidden="true"></i>: Delete
                        <i class="fa fa-pencil noteEdit" aria-hidden="true"></i>: Edit
                    </p>
                    <p>Click (<i class="fa fa-exchange noteExchange"></i>) to switch logic between "and" and "or"</p>
                    <p>Click (<i class="fa fa-arrows noteMove" aria-hidden="true"></i>) to move this section; click again to cancel.
                        Click (<i class="fa fa-arrows noteDestination" aria-hidden="true"></i>) to use as your destination.</p>
                    <p>Click (<i class="fa fa-clone noteCopy" aria-hidden="true"></i>) to copy this section; click again to cancel.
                        Click (<i class="fa fa-clone noteDestination" aria-hidden="true"></i>) to use as your destination.</p>

                    <p>Use comma(,) to separate a list of annotated_variants(i.e. "V600E, V600K") and age_numerical range(i.e. ">=12, &lt;=18").</p>
                </div>
            </div>
        </div>
    </div>
</div>
