.meta-container {
    max-width: 2000px;
    min-height:500px;
}
.loading-bar {
    margin: 0 auto;
    text-align: center;
}
.radio-margin {
    margin: 0 5px;
}
.filter-input{
    padding:8px;
    margin:15px auto;
    width:30%;
}
.download-button{
    float: right;
    margin: 15px 0;
}
