<div class="container">
    <div *ngIf="!dataLoaded" class="loading-bar">
        <h1><i class="fa fa-spinner fa-spin"></i></h1>
    </div>
    <div [hidden]="!dataLoaded">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th>NCT ID</th>
                    <th>Protocol No</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Precision Medicine</th>
                    <th>Curated</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let meta of metaList">
                    <td>
                        <span *ngIf="meta.nct_id.length > 0">
                            <span class="button-margin">{{ meta.nct_id }}</span>
                            <a target="_blank" href="https://clinicaltrials.gov/ct2/show/{{meta.nct_id}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </span>
                    </td>
                    <td>
                        <span>
                            <span class="button-margin">{{ meta.protocol_no }}</span>
                            <a target="_blank" href="https://www.mskcc.org/cancer-care/clinical-trials/{{meta.protocol_no}}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </span>
                    </td>
                    <td>{{ meta.status }}</td>
                    <td>{{ meta.title }}</td>
                    <td>
                        <span *ngIf="!isPermitted">{{ meta.precision_medicine }}</span>
                        <span *ngIf="isPermitted">
                            <form>
                                <div>
                                    <input type="radio" value="YES" name="precision-medicine" class="radio-margin" [(ngModel)]="meta.precision_medicine" (click)="unCheckRadio('precision_medicine', $event, meta)">YES
                                </div>
                                <div>
                                    <input type="radio" value="NO" name="precision-medicine" class="radio-margin" [(ngModel)]="meta.precision_medicine" (click)="unCheckRadio('precision_medicine', $event, meta)">NO
                                </div>
                            </form>
                        </span>
                    </td>
                    <td>{{ meta.curated }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
